* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.navbar {
  background: #ffffff;
  padding: 1rem 8rem;
  z-index: 100;
}
.cardnav a {
  color: #747474;
}
.navbar a {
  color: #8d8c8d;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(141, 140, 141);
}

.nav-item .btn {
  background: transparent linear-gradient(290deg, #3059c8 0%, #e05ef5 100%) 0%
    0% no-repeat padding-box;
  border: #ffff;
  border-radius: 25px;
  margin-left: 30px;
}
.nav-item > button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #3059c8;
  border-radius: 25px;
  margin-left: 20px;
}

.menu_active {
  border-bottom: 4px solid #3058c9;
}
main {
  margin-top: 150px;
}
.main-header {
  color: #3059c8;
  font-weight: 550;
}
.main-body {
  color: #939293;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.mt-3 > .btn1:first-child {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #3059c8;
  border-radius: 25px;
  margin-left: 20px;
}
.mt-3 > .btn1:first-child:hover {
  color: #3059c8;
  text-decoration: none;
}

.mt-3 > .btn:last-child {
  background: transparent linear-gradient(290deg, #3059c8 0%, #e05ef5 100%) 0%
    0% no-repeat padding-box;
  border: #ffff;
  border-radius: 25px;
  margin-left: 30px;
  margin-bottom: 8px;
}
.head-text {
  margin-top: 50px;
}

.header-img {
  width: 620px;
  height: 486px;
}

.body {
  background-color: #f8f8f8;
}
